* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
body{
    background-color: black;
}

.logo {
  color: white;
  font-size: 1.3rem;
  font-weight: 600px;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.5);
}
.nav-link {
  display: flex;
  gap: 2rem;
  align-items: center;
}
li a {
  position: relative;
  color: white;
  font-weight: 300;
}
li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(39, 95, 83));
}
.visit-btn:hover {
  background: linear-gradient(to right, rgb(12, 59, 148), rgb(0, 157, 255));
  transform: scale(1.03);
}
#menue-icon{
    font-size: 2rem;
    display: none;
}

/* Section 01 */

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img{
    width: 20vw;
    border-radius: 100%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
    color: white;
}
.info-box h1{
    font-size: 4rem;
    font-weight: 600;
    color: white;
}
.info-box span{
    color: white;
    font-size: 2rem;
}
.btn-group{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.btn{
    border-radius: 1rem;
    padding: 0.8rem;
    border: 2px solid rgb(255, 252, 252);
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: scale(1.4);
}
.social{
    display: flex;
    gap: 2rem;
}
.social i{
    background-color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    border-radius: 50%;
    
}
.social i:hover{
    
    transform: scale(1.4);
}

/* Section 02 */

.section-title{
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.experience img{
    width: 20vw;
    border-radius: 3rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.grid-card{
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.grid-card:hover{
    transform: translateX(-10px) scale(1.04);
    color: white;
    background-color: black;

}
.grid-cad i{
    background-color: rgba(248, 248, 248, 0.432);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.grid-card span{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.grid-cad h3{
    font-size: 2rem;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, rgb(66, 83, 94), rgba(72, 95, 29, 0.637));
}

/* Project */


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}
.project h2{
    font-size: 2rem;
    margin-bottom: 70px;
    color: white;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.project-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.04);
}
.project-card:hover p:hover h3:hover{
    color: white;
}
.project-card img{
    width: 20vw;
    border-radius: 1rem;
}
.project-card:hover .btn{
    border: 2px solid white;
    color: white;
}
.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(156, 157, 158);
}
.project-card p{
    color: rgb(196, 191, 191);
}
.input-box{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.input-box input{
    border-radius: 3rem;
    border: 2px solid rgb(63, 39, 39);
    padding: 2rem 8rem;
    font-size: 3rem;
}
.input-box input::placeholder{
    font-size: 3rem;
}
.input{
    position: relative;
}
.input i{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
    color: black;
}
footer{
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    
}
footer ul li a{
    color: black;
    font-weight: 600;
    color: white;
}
.copyright{
    font-size: 300;
    margin-top: 2rem;
    color: white;
    padding-bottom: 2rem;
}


/* responsiveness */

@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder{
        font-size: 2.5rem;
    }
    .input-box i{
        font-size: 2.5rem;
    }
}
@media(max-width:768px){
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

@media(max-width:600px){
    header #menue-icon{
        display: block;
    }
    .nav-link{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 3rem;
        display: none;
    }
    .nav-link li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-link.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 80vw;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    footer ul{
        gap: 1rem;
    }
}